$body-font: "Dosis", sans-serif;
$logo-font: "Syne Tactile", cursive;
$main-color: #cc0000;
$light-color: #9999ff;
$dark-color: #260d1a;
$medium-color: #ff9933;
$website-width: 1280px;
$bg-image: url(../images/showcase.jpg);
